# submoduleの削除手順
# 1: .gitmodules から削除したいサブモジュール設定を削除
# 2: .git/config から削除したいサブモジュール設定を削除
# 3: git rm --cached -r path/to/submodule を実行

[submodule "etc/skel/.vim/bundle/neobundle.vim"]
	path = etc/skel/.vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
