.env
/cache
/local
/tmp

/config/nvim/.init.vim-rplugin~
/config/gcloud/
/config/DMM/
/config/configstore/firebase-tools.json

# どうでもいい系
/config/dlv/
/config/jgit/
/config/wireshark
/config/netdata-docker/
