[user]
  name = Yoshiaki Kawazu
  email = kawazzz@gmail.com
[color]
  ui = auto
[log]
  date = iso
[alias]
  ci = commit -a
  st = status
  co = checkout
  tr = log --graph --pretty='format:%C(yellow)%h%Creset %C(magenta)%cd%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
  tr-all-branch = log --graph --pretty='format:%C(yellow)%h%Creset %C(magenta)%cd%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset' --branches
[core]
  editor = vim
  paget = "less -R"
  excludesfile = ~/.gitignore
  autocrlf = false
[include]
  path = ~/.gitconfig.local
[push]
  # upstream or tracking http://bit.ly/SZxexh
  default = tracking
[github]
  user = kawaz
[tig "bind"]
  generic = g move-first-line
  generic = G move-last-line
[url "git@github.com:"]
  pushinsteadof = "git://github.com/"
  pushinsteadof = "https://github.com/"
[branch "master"]
  #mergeoptions = --no-ff
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[rebase]
  autosquash = true
