[user]
	name = Yoshiaki Kawazu
	email = kawazzz@gmail.com
[color]
  ui = auto
[log]
  date = iso
[alias]
  ci = commit -a
  st = status
  co = checkout
  tr = log --graph --pretty='format:%C(yellow)%h%Creset %C(magenta)%cd%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
[core]
  editor = vim
  paget = "less -R"
  excludesfile = ~/.gitignore
[push]
	default = upstream
